pydantic
langchain
langchain-core
langchain-openai
langchain-community
langchain-groq
langchain-huggingface
defusedxml
pypdf
bs4
arxiv
pymupdf
wikipedia
PyGithub
rapidocr-onnxruntime
langchain-google-genai
sentence-transformers
faiss-cpu
google-generativeai
langchain-pinecone
pdfplumber
langchain-experimental
langchain-astradb